/* banner */
.main-banner{
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #2b323c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner br{
  display: none;
}

/* animate text */

.animate-txt{
  font-size: 45px;
  font-weight: 300;
  display: block;
  color: white;
}

.animate-txt span{
  position: relative;
}

.animate-txt span::before{
  content: '';
  color: #FFD700;
  animation: palavras 20s infinite;
}

.animate-txt span::after{
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #FFD700;
  right: -10px;
  animation: pisca .8s infinite, typing 20s steps(12) infinite;
  width: calc(100% + 16px);
  background-color: #2b323c;
}

@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    width: calc((100% + 16px));
  }
}

@keyframes pisca {
  0% {
    border-left: 2px solid #2b323c;
  }
  50%{

  }
}
@keyframes palavras {
 0%, 20%{
   content: "Front-End Developer";
 }
 21%, 40%{
  content: "Freelancer";
 }
 41%, 60%{
  content: "Web Developer";
 }
 61%, 80%{
  content: "Intrapreneur";
 }
 81%, 100%{
  content: "Student"
 }
}

@media (min-width: 750px) and (max-width: 1276px){
  .animate-txt{
    font-size: 40px;
  }
  .animate-txt span{
    font-size: 40px;
  }
  .main-banner{
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  .main-banner br{
    display: block;
  }
}

@media(min-width: 450px) and (max-width: 750px){
  .animate-txt{
    font-size: 26px;
  }
  .animate-txt span{
    font-size: 26px;
  }
  .main-banner{
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .main-banner br{
    display: block;
  }
}

@media (min-width: 286px) and (max-width: 449px) {
  .animate-txt{
    font-size: 1.60rem;
  }
  .animate-txt span{
    font-size: 1.60rem;
  }

  .main-banner br{
    display: block;
  }
}